.mat-elevation-z8{
    background-color: rgb(148, 172, 226) ;

    .filters{
    margin-top: 10px;
    margin-left: 2rem;
    padding-top:2rem ;
    background-color: rgb(233, 243, 243);
    }
    
}
